@{
    ViewBag.Title = "Logged In";
    ViewBag.Success = "You have been logged in.";
    Layout = "_Layout.cshtml";
}

<form>
    <h3 class="form-title">@ViewBag.Title</h3>
    <p>Please wait while you are redirected.</p>
</form>