@using BioConnected.Models
@model ResetPassword
@{
    ViewBag.Title = "Reset Password";
    Layout = "~/Views/Shared/_LoginPartial.cshtml";
}




<form method="post" class="form edit-helper-form" action="/Home/ResetPassword" id="form-resetpassword">
    <div>
        @if (Model.Succeeded)
        {
            <h3 class="page-title" style="text-align:center;">
                Password Reset
            </h3>
            <div class="clearfix"></div>
        }
        else if (Model.User != null)
        {
            <h3 class="form-title resetpassword">@ViewBag.Title</h3>
            <input type="hidden" name="ID" value="@Model.User.Id" />

            <div class="form-group">
                <label>Enter New Password</label>
                <label style="color:red;display:none;" id="PaasswordRequired">* Required</label>
                <label style="color:red;display:none;" id="PasswordAgainValid">* Passwords must match</label>
                <input type="text" class="form-control forgot" id="Password" name="Password" value="@Model.User.Password" required />
            </div>
            <div class="form-group">
                <label>Confirm Password</label>
                <label style="color:red;display:none;" id="PasswordAgainRequired">* Required</label>
                <input type="text" class="form-control forgot" id="PasswordAgain" name="PasswordAgain" value="@Model.User.Password" required />
            </div>
            <button onclick="Save()" class="btn bg-color addedit" style="width:100%;">Save</button>
            <div class="clearfix"></div>
        }
        else
        {
            <h3 class="page-title" style="text-align:center;">
                Invalid Link
            </h3>
        }


    </div>
</form>













<script>
    function Save() {

        $("#PasswordRequired").hide();
        $("#PasswordAgainRequired").hide();
        $("#PasswordAgainValid").hide();

        var errors = 0;

        if ($("#Password").val() == "") {
            $("#PasswordRequired").show();
            errors++;
        }

        if ($("#PasswordAgain").val() == "") {
            $("#PasswordAgainRequired").show();
            errors++;
        }

        if ($("#Password").val() != "" && $("#PasswordAgain").val() != "" && $("#Password").val() != $("#PasswordAgain").val()) {
            $("#PasswordAgainValid").show();
            errors++;
        }

        if (errors > 0) {
            return;
        }

        $("#form-resetPassword").submit();
    }

</script>

